@import "../../styles/colours.scss";
@import "../../styles/spacing.scss";
@import "../../styles//mediaWidths.scss";

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-breakpoint-width) and (max-width: $desktop-breakpoint-width) {
    width: 720px;
  }

  @media (min-width: $desktop-breakpoint-width) {
    width: 1080px;
  }
}
.contactBar {
  display: flex;
  align-items: center;

  background-color: $brand-orange;
  height: 40px;

  .headerContent {
    display: flex;
    justify-content: space-between;
  }

  .socialMedia {
    @media (max-width: $tablet-breakpoint-width) {
      display: none;
    }

    .icon {
      width: 25px;
      height: 25px;

      &:last-child {
        margin-left: 5px;
      }
    }
  }

  .contactNumber {
    display: flex;
    align-items: center;

    .icon {
      width: 25px;
      height: 25px;

      &:last-child {
        margin-left: 5px;
      }
    }

    .phoneNumber {
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 0 5px;
    }
  }
}

main {
  margin: 0 auto;
}

footer {
  background-color: $brand-grey;
  color: #fff;
  padding: 40px 0;

  .title {
    @media (min-width: $tablet-breakpoint-width) {
      font-size: 1.25rem;
    }
  }

  .row {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .navigation {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: $space-between-elements;
      text-transform: uppercase;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: $brand-orange;
        }
      }
    }
  }

  .address {
    .companyName,
    .subtitle {
      text-transform: uppercase;
      margin: 0;
    }

    .companyName {
      font-size: 1.25rem;
    }

    .lightWeight {
      font-weight: 300;
    }

    .socialMedia {
      .icon {
        width: 45px;
        height: 45px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .copyright {
    margin-top: 30px;
  }
}
