@import "../../styles/colours.scss";
@import "../../styles//mediaWidths.scss";

$logo-height-mobile: 25px;
$logo-width-mobile: 100px;
$logo-height-desktop: 50px;
$logo-width-desktop: 200px;

.navigationBar {
  padding: 30px 0;
  position: absolute;
  background: transparent;
  width: 100%;

  .sidenav {
    color: #ffffff;
    height: 100%;
    width: 70vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 20px 0;

    h1 {
      font-size: 1.75rem;
    }

    nav {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          text-transform: uppercase;
          font-size: 1.25rem;

          a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;

            &:hover {
              color: $brand-orange;
            }
          }

          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .close::before {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 0 0 20px;
      content: "x"; // here is your X(cross) sign.
      color: #fff;
      font-weight: 300;
      font-family: Arial, sans-serif;
      font-size: 2rem;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $logo-height-mobile;

    @media (min-width: $tablet-breakpoint-width) {
      height: $logo-height-desktop;
    }

    .logo {
      width: $logo-width-mobile;
      height: $logo-height-mobile;

      @media (min-width: $tablet-breakpoint-width) {
        width: $logo-width-desktop;
        height: $logo-height-desktop;
      }
    }

    nav {
      display: flex;

      ul {
        display: none;

        @media (min-width: $tablet-breakpoint-width) {
          display: inline;
        }
        list-style-type: none;

        li {
          display: inline;
          text-transform: uppercase;

          a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;

            &:hover {
              color: $brand-orange;
            }
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .burgerMenu {
        width: 20px;
        cursor: pointer;

        @media (min-width: $tablet-breakpoint-width) {
          display: none;
        }
      }
    }
  }
}
